html{
    font-family:Helvetica;
    font-size:22px;
    background-color: black;
    opacity: 0.9;
    color:seashell;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color:white;

}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:69px;
    padding:0px 20px;
    border-bottom: 1px solid seashell;
    top:0;
    position:fixed;
    width: 100%;
    background-color: black;
}


#logo{
    height:50px;

}

#navmenu{
    display:flex;
    justify-content: space-between;
    width:40%;
    list-style-type: none;


}

#navmenu li{
    text-decoration: underline;

}

section{
    /* border:dotted 1px white; */


}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:69px ;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#jumbotron{
    height: 700px;
    width:100%;
    background-image: url("resources/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mission{
    background-color: black;
    display:flex;
    flex-direction:column;
    height: 120px;
    align-items: center;
    width: 100%;
    justify-content:space-around;
}

#mission > h2,#mission> h4{
    text-align: center;

}

#thismonth{
    width:90%;
    text-align: center;
    /* height:700px; */
    padding-top: 50px;
    padding-bottom: 0px;
}

#thismonth>h2, #thismonth>h4{
    margin:12px;
}


.gallery{
    padding-top:10px;
    width: 100%;
}

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.item-card{
    width:300px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px 12px;
}

.item-card img{
    width:300px;
    padding-bottom: 10px;
}




#locations{
    width: 100%;
    height:500px;
    background-image: url("resources/img-locations-background.webp");
    background-repeat: no-repeat;
    background-position:center;
    margin-top:100px;
}

#locations>h2{
    text-align: center;
    margin-top:80px;
    margin-bottom:15px;
}

#locations-gallery{
    display: flex;
    justify-content: center;
    height:300px;
}


.card{
    background-color: black;
    flex-basis: 300px;
    margin:0 20px;
    opacity: 1;
}

.card-text{
    display: flex;
    flex-direction: column;
    height:100%;
    align-items: center;
    justify-content: space-around;
}

#contact{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contact>h2{
    margin: 20px;
}

footer{
    padding: 30px 20px;

}